/* Navigation Section */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}
.content {
	padding: 0 0.938rem;
	margin: 0 auto;
	min-width: 37.5rem;
}
.top-navigation {
    background-color: #fff;
    width: 100%;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}
.top-navigation .links {
    float: right;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
/**Introduction Section **/
.introduction {
	background-image: url(../images/first-background.jpg);
	background-size: cover;
	height: 45rem;
	background-repeat: no-repeat;
	overflow: auto;
	background-position: center bottom;
}
.introduction h1,
.introduction h3 {
	color: white;
	text-align: center;
	font-weight: 300;
}
.introduction h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
}
.introduction h3 {
	margin-top: .25rem;
	font-size: 1.563rem;
}
.buttons {
	text-align: center;
}
.cases {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
}
.cases .content {
    margin-top: 7.875rem;
    padding: none;
    color: #1d1e21;
    text-align: center;
}
.cases h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}
.cases .devices > li {
    width: 20%;
    display: inline-block;
}
.cases .devices h3 {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}
.cases .devices p {
    font-weight: 300;
    font-size: 1.313rem;
}
button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}
button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}
